body {
  font-family: verdana;
}

.header {
  background-image: url(../images/polygon-background1-preview.jpg);
  margin-top: 3rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item:not(:first-of-type) {
  margin-left: 1rem;
}

.social-links__item a {
  display: block;
}

.social-links__icon--github {
  background-color: #ffffff;
  font-size: 3rem;
  line-height: 2.6rem;
  border-radius: 20%;
  color: #323b32;
}

.social-links__icon--twitter {
  background-color: #ffffff;
  font-size: 3rem;
  line-height: 2.6rem;
  border-radius: 20%;
}
